<!DOCTYPE html>
<html>
<head>
	<title>Restaurant</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
		<nav class="navbar navbar-light bg-faded">
			<a class="navbar-brand" href="#">ALL U CAN EAT</a>
			<ul class="nav navbar-nav">
				<li class="nav-item <%= 'active' if current_page?(root_path) %> ">
					<a class="nav-link" href="<%= root_path%>">Home <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item <%= 'active' if current_page?(menu_path) %> ">
					<a class="nav-link" href="<%= menu_path%>">Menu</a>
				</li>
				<li class="nav-item <%= 'active' if current_page?(contact_us_path) %>">
					<a class="nav-link" href="<%= contact_us_path%>">About</a>
				</li>
			</ul>
			<form class="form-inline pull-xs-right">
				<input class="form-control" type="text" placeholder="Search">
				<button class="btn btn-success-outline" type="submit">Search</button>
			</form>
		</nav>
		<%= yield %>
	</div>
	

</body>
</html>
